body {
    font-family: 'Maven Pro', sans-serif;
}

input[type="text"], input[type="number"] {
    border: 1px solid #333;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="submit"], input[type="reset"] {
    border: 1px solid #CCC;
    background-color: #333;
    border-radius: 8px;
    padding: 8px;
    color: white;
    transition: background-color 0.5s;
    font-family: 'Maven Pro', sans-serif;
    font-size: 15px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    cursor: pointer;
    background-color: rgb(70, 70, 70);
}

fieldset {
    background-color: #CCC;
    border: 1px solid #333;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}

legend {
    font-weight: bold;
    font-size: 22px;
}

label {
    display: block;
}

.botones {
    float: right;
    margin-top: 50px;
    margin-left: 100px;
}